name: EC2_server_deploy

on:
  push:
    branches: [ "main" ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm cache clean --force
    - run: rm -rf node_modules
    - run: npm ci
    - name: Create .env file
      env:
        PROD_ENV: ${{ secrets.PROD_ENV }}
      run: |
        echo "$PROD_ENV" > .env
    - name: Build
      run: npm run build
    - name: Deploy with PM2
      run: |
        if pm2 describe github-api > /dev/null 2>&1; then
          pm2 restart github-api --update-env
        else
          pm2 start dist/server.js --name github-api
        fi